.section-padding h1,
h3 {
  text-align: center;
}

.salon-img img{
  width: 100%;
}
.home-slider-img{
  margin-top: 80px;
  height: 450px;
  width: 100%;
}

/* --------------------- responsive css ------------------ */
@media screen and (max-width: 912px){
  .home-slider-img{
    height: 350px;
  }
}
@media screen and (max-width: 768px){
  .home-slider-img{
    height: 250px;
  }
}

@media screen and (max-width: 540px){
  .home-slider-img{
    height: 200px;
  }
}