.section-padding h1,
h3 {
  text-align: center;
}

.category-head{
   text-align: left;
   font-family: Rubik, sans-serif;
   font-weight: 600;
}

.category-box{
  height: 200px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}
.category-box:hover{
  background: rgba(0,0,0,0.5) url(../../assets/carWash.jpg);
  background-blend-mode: darken;
  cursor: pointer;
}
