.progress-circles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .form-bar{
    width: 25px;
    height: 4px;
    background-color: rgba(128, 128, 128, 0.776);
    border-radius: 10px;
  }
  
  .multi-circle{
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var( --dark-blue);
    background-color: transparent;
    margin: 0 10px;
    padding: 8px;
  }
  .multi-circle i{
    font-size: 20px
  }
  
  .multi-circle.active {
    background-color: var(--dark-blue);
  }
.multi-step-form{
    text-align: center;
   
}  
.Multi-form-btn{
    border: none;
    color: white;
    background: var(--button-color);
    padding: 7px 10px;
    border-radius: 10px;
    gap: 5px;
    margin: 0 10px;
}
.vendor-form-head{
  padding:0 0 50px 0;
}

.upload-label {
  cursor: pointer;
  color: #333;
  font-weight: 600;
}

.multi-form-area{
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
}



