.sec-m-top {
  margin-top: 50px;
  margin-right: 10px;
  margin-left: 30px;
}
.single-blog-standard .blog-standard-thumb .blog-author a:last-child {
  font-weight: 500;
  font-size: 14px;
  color: #5bb543;
  display: inline-block;
  padding: 5px 20px 5px 10px;
  visibility: hidden;
  opacity: 0;
}

.single-blog-standard .blog-standard-thumb .blog-author a {
  display: inline-block;
  transition: all 0.5s ease-out 0s;
}

a,
ol,
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.single-blog-standard .blog-standard-thumb .blog-author a img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.single-blog-standard .blog-inner .date-cmnt {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
}

.single-blog-standard .blog-inner .date-cmnt a {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #6c6c6c;
  transition: all 0.5s ease-out 0s;
}

.single-blog-standard .blog-inner h4 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.single-blog-standard .blog-inner h4 a {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #142935;
  display: inline-block;
}

.single-blog-standard .blog-inner p {
  font-size: 16px;
  color: #6c6c6c;
}

p {
  color: #787878;
  line-height: 1.8;
  margin: 0;
}

.single-blog-standard .blog-inner .view-post-and-socail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.single-blog-standard .blog-inner .view-post-and-socail a {
  font-family: Teko, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #5bb543;
}

a,
a:hover {
  text-decoration: none;
}
.recent-post .recent-post-cnt h5 a {
  display: inline-block;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #142935;
  transition: all 0.5s ease-out 0s;
}

.single-blog-standard .blog-inner .view-post-and-socail a span {
  display: inline-block;
  height: 25px;
  width: 25px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #5bb543;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: 10px;
  transition: all 0.5s ease-out 0s;
}

.single-blog-standard .blog-inner .view-post-and-socail a span i {
  position: relative;
  left: -8px;
  transition: all 0.5s ease-out 0s;
}

.single-blog-standard {
  margin-bottom: 50px;
}

.single-blog-standard .blog-standard-thumb {
  position: relative;
}

.single-blog-standard .blog-standard-thumb img {
  width: 100%;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.author-social {
  list-style: none;
}

.single-blog-standard .blog-inner .view-post-and-socail .author-social li {
  display: inline-block;
  margin: 0 5px;
}

.single-blog-standard .blog-inner .view-post-and-socail .author-social li a {
  color: #142935;
  border: 1px solid #eee;
  box-sizing: border-box;
  height: 26px;
  width: 26px;
  display: inline-block;
  text-align: center;
  font-size: 10px;
  line-height: 26px;
  border-radius: 50%;
  transition: all 0.5s ease-out 0s;
}

.single-blog-standard .blog-inner .view-post-and-socail a {
  font-family: Teko, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #5bb543;
}

.single-blog-standard .blog-standard-thumb {
  position: relative;
}

.single-blog-standard .blog-standard-thumb .blog-author {
  position: absolute;
  top: 20px;
  left: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: all 0.5s ease-out 0s;
}

*,
:after,
:before {
  box-sizing: border-box;
}

.single-blog-standard .blog-standard-thumb .blog-author a {
  display: inline-block;
  transition: all 0.5s ease-out 0s;
}

element.style {
  visibility: visible;
  animation-duration: 1500ms;
  animation-delay: 200ms;
}

.paginatation {
  text-align: center;
  margin-top: 50px;
}

.paginatation .paginate {
  list-style: none;
}

.paginatation .paginate li a {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #6c6c6c;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 10px;
  display: inline-block;
  transition: all 0.5s ease-out 0s;
}

.row {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.widget-search {
  margin-bottom: 40px;
}

.widget-search form {
  position: relative;
}

.widget-search form input {
  height: 60px;
  width: 100%;
  background-color: #f4f5f8;
  border: none;
  font-size: 14px;
  color: #6c6c6c;
  padding: 0 15px;
}

[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

.widget-search form button {
  font-size: 20px;
  color: #142935;
  background-color: transparent;
  border: none;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

button,
select {
  text-transform: none;
}

.widget-sidebar {
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
}
/* category */
.widget-sidebar {
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.05);
  padding: 30px;
  margin-bottom: 40px;
}

.fadeInUp {
  animation-name: fadeInUp;
}
.widget-sidebar h4 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #142935;
  margin-bottom: 30px;
}
.category-list {
  list-style: none;
}
.category-list li {
  display: block;
  margin-bottom: 20px;
}
.category-list li a i {
  position: absolute;
  right: 10px;
}
.category-list li a {
  position: relative;
  display: block;
  font-family: Rubik, sans-serif;
  font-size: 17px;
  color: #6c6c6c;
  padding: 7px 5px;
  transition: all 0.2s ease-out 0s;
}
/* post tag */
.post-tags {
  list-style: none;
}
.post-tags li,
.post-tags li a {
  display: inline-block;
}
.post-tags li a {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #696969;
  border: 1px solid #eee;
  box-sizing: border-box;
  padding: 12px 15px;
  margin: 5px;
  transition: all 0.5s ease-out 0s;
}
.post-tags li,
.post-tags li a {
  display: inline-block;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
  }
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 540px;
  }
}
