.sec-m {
  margin: 120px 0;
}
.contact-info {
  margin-bottom: 80px;
}
.align-items-center {
  align-items: center !important;
}
.contact-info .info {
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.102);
  border-radius: 5px;
  padding: 30px;
  display: flex;
  align-items: center;
  min-height: 160px;
  transition: all 0.5s ease-out 0s;
}
.contact-info .info .icon {
  min-width: 70px;
  margin-right: 20px;
}
.contact-info .info .icon i {
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  background-color: rgba(92, 181, 67, 0.201);
  border-radius: 50%;
  font-size: 30px;
  color: #5bb543;
  transition: all 0.5s ease-out 0s;
}
.contact-info .info .desc h4 {
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #142935;
  margin-bottom: 10px;
}
.contact-info .info .desc p {
  font-size: 16px;
  color: #6c6c6c;
}

.contact-info .info:hover .icon i {
  color: #fff;
  background-color: #5bb543;
}
/*  */
.contact-form {
  max-width: 1070px;
  margin: 0 auto;
  text-align: center;
}
.contact-form span {
  font-family: Rubik, sans-serif;
  text-align: center;
  color: #142935;
  margin-bottom: 5px;
}
.contact-form h2 {
  font-weight: 600;
  font-size: 35px;
}
.contact-form p {
  font-size: 16px;
  color: #6c6c6c;
}
.contact-form form {
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.122);
  padding: 50px;
  margin-top: 70px;
}
.contact-form h2,
.contact-form span {
  font-family: Rubik, sans-serif;
  text-align: center;
  color: #142935;
  margin-bottom: 5px;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  height: 60px;
  background-color: hsla(0, 0%, 95%, 0.5);
  border: none;
  margin-bottom: 25px;
  font-size: 14px;
  color: #6c6c6c;
  padding: 0 15px;
}
.contact-form form textarea {
  height: 220px;
  padding: 20px 15px;
  resize: none;
}
.contact-form form input[type="submit"] {
  background-color: #5bb543;
  border: 1px solid #5bb543;
  font-family: Rubik, sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #fff;
  margin-bottom: 0;
  transition: all 0.5s ease-out 0s;
}

/* --------------- Responsive Css ------------- */



@media (min-width: 992px) {
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
}

  @media (min-width: 768px){
.col-md-6 {
    flex: 0 0 auto;
    width: 100%;
}

  }