.Massage-home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Massage-home-text h1 {
  font-size: 40px;
  font-weight: 600;
  width: 300px;
  line-height: 1;
  letter-spacing: -0.45px;
}
.Massage-home-text p {
  font-size: 20px;
  width: 400px;
  font-weight: 300;
  padding-top: 20px;
  color: #7e808c;
  line-height: 1.2;
}
.Massage-btn {
  height: 50px;
  width: 210px;
  background: #0b19df;
  color: #fff;
  font-size: 12px;
  margin: 50px 0 0;
  border: none;
  text-transform: capitalize;
}
.Massage-image img {
  width: 100%;
  height: auto;
}
.Massage-bg {
  /* background: #f5f5f5; */
}
/* new bs */
.Bs-heading {
  font-family: Teko, sans-serif;
  font-weight: 600;
  font-size: 50px;
  color: #142935;
  text-transform: capitalize;
  margin-bottom: 0;
}
.Bs-description {
  color: #787878;
  line-height: 1.8;
  margin: 0;
  font-size: 16px;
  text-align: center;
}
.Bs-cards {
  background: #fff;
  transition: all 0.55s ease-in-out;
  position: relative;
  box-shadow: 3px 4px 20px hsla(0, 0%, 53%, 0.1);
}
.Bs-cards:hover h4 {
  color: #ff6635;
}
.Bs-date {
  position: absolute;
  top: 0;
  width: 100%;
  margin: 18px;
}
.Bs-date h5 {
  background: #ff6635;
  color: #fff;
  border-radius: 3px;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}
.Bs-date i {
  float: right;
  background: #ff6635;
  padding: 10px;
  border-radius: 50%;
  color: #fff;
  font-size: 12px;
}
.Bs-content {
  padding: 20px;
  /* text-align: center; */
}
.Bs-content-detail {
  display: flex;
  justify-content: space-between;
}
.Bs-content-detail h6 {
  color: #ff6635;
  font-family: Teko, sans-serif !important;
  font-weight: 500 !important;
  font-size: 20px;
}
.section-padding card-sec {
  margin-bottom: 36px;
}
.Bs-cards img {
  width: 100%;
  height: auto;
  transition: all 0.5s ease-out 0s;
}
.Bs-cards img:hover {
  transform: scale(0.9);
}
.bs-btn {
  position: relative;
  font-family: Teko, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  border: 1px solid #142935;
  border-radius: 5px;
  padding: 20px;
  min-width: 195px;
  display: inline-block;
  line-height: 1;
  overflow: hidden;
  z-index: 1;
  transition: all 0.5s ease-out 0s;
}
.bs-btn::after .bs-btn:before {
  width: 100%;
  height: 100%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #142935;
  transition: all 0.5s ease-out 0s;
  border-radius: 5px;
  z-index: -1;
}
.bs-btn:hover:before {
  transform: rotateX(90deg);
  z-index: 1;
}
.bs-btn:hover:after {
  transform: rotateY(90deg);
  z-index: 1;
}
.bs-btn :hover {
  color: #000;
}
.bs-btn-area {
  text-align: center;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  /*  */
  visibility: visible;
  animation-duration: 1500ms;
  animation-delay: 400ms;
  /*  */
  animation-name: fadeInUp;
}

/* CSS */
.button-77 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01, sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .button-77 {
    padding: 19px 32px;
  }
}

.button-77:before,
.button-77:after {
  border-radius: 80px;
}

.button-77:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-77:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-77:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.button-77:active:not(:disabled) {
  color: #ccc;
}

.button-77:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-77:disabled {
  cursor: default;
  opacity: 0.24;
}
