.whychoose-image img {
  width: 100%;
  height: auto;
}
.whychoose-bg {
  background: rgba(0, 0, 0, 0.376) url("../../../assets/WhyChooseUs.jpg");
  background-blend-mode: darken;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 70px 50px;
}
.whychoose-content {
  display: flex;
  flex-direction: row;
}

.whychoose-content img {
  height: 50px;
  width: 50px;
  border: 1px solid #ff6635;
  box-sizing: border-box;
  display: block;
  text-align: center;
  line-height: 60px;
  border-radius: 50%;
  margin: 5px 20px 0 0;
}
.whychoose-content h4 {
  font-size: 20px;
  font-weight: 600;
}
.whyChoose-text{
  padding: 10px;
}
.whychoose-content p {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #b5b5b5;
}
.manage-heading-para h2 {
  font-family: Teko, sans-serif;
  font-weight: 600;
  font-size: 50px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 15px;
  text-align: center;
}
.manage-heading-para p {
  text-align: left;
  /* font-family: Rubik, sans-serif; */
  font-weight: 500;
  color: #fff;
}
