
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Urbanist, sans-serif !important;
  overflow-x: hidden;
}
p {
  color: var(--dark-blue);
  font-size: 16px;
}
:root{
 --dark-blue: #0C1749 ;
 --light-blue: #9BACDD;
 --button-color: linear-gradient(23deg, rgba(2,0,36,0.87718837535014) 0%, rgba(12,23,73,1) 54%, rgba(155,172,221,1) 100%);
}

a {
  text-decoration: none;
}
.section-padding {
  padding-top: 30px;
  padding-bottom: 40px;
}

.main-heading {
  text-align: center;
  margin: 0 0 40px;
}
.main-heading h2 {
  font-family: Urbanist, sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.pages-background{
  background-color: var(--dark-blue);
  height: 250px;
  width: 100%;
  text-align: center;
}

.pages-background h2{
padding-top: 150px; 
color: white;
font-weight: 700;
}

.main-button{
  margin: 10px;
  padding: 10px 25px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  font-weight: 600;
  box-shadow: 0px 0px 14px -7px #f09819;
  background: var(--button-color);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border: none;
}
