
  @import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Urbanist, sans-serif !important;
  overflow-x: hidden;
}
p {
  color: #201f1f;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.section-padding {
  padding-top: 30px;
  padding-bottom: 40px;
}

.main-heading {
  text-align: center;
  margin: 0 0 40px;
}
.main-heading h2 {
  font-family: Urbanist, sans-serif;
  font-size: 45px;
  font-weight: 700;
}
.pages-background{
  background-color: rgb(19, 19, 111);
  height: 250px;
  width: 100%;
  text-align: center;

}
.pages-background h2{
padding-top: 150px; 
color: white;
}
