.breadcrumbs {
  position: relative;
  min-height: 450px;
  background-image: url(/_next/static/media/breadcrumbs-bg.20246d55.png);
  background-size: cover;
  background-position: 50%;
  z-index: 1;
}
.breadcrumb-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 450px;
}
.breadcrumb-wrapper h2 {
  font-family: Teko, sans-serif;
  font-weight: 600;
  font-size: 55px;
  text-transform: capitalize;
  color: #fff;
  margin-bottom: 10px;
}
.breadcrumb-wrapper span {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  text-transform: capitalize;
}
.breadcrumb-wrapper span a {
  color: #5bb543;
}
.breadcrumb-wrapper span i {
  font-size: 14px;
  margin: 0 5px;
}
.breadcrumb-wrapper .arrow-down {
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
}
.breadcrumb-wrapper .arrow-down a {
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  border-radius: 50%;
  color: #5bb543;
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .breadcrumbs {
    min-height: 400px;
  }

  .breadcrumb-wrapper {
    min-height: 400px;
  }
}
