.all-bg-banner {
position: relative;

}

.all-bg-content {
  text-align: center;
  padding: 20px 0;
}

.all-bg-content a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.all-bg-content i {
  color: white;
}
.all-bg-content span {
  color: white;
  font-weight: 600;
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .all-bg-banner {
    min-height: 400px;
  }

  .all-bg-content {
    min-height: 400px;
  }
}
