.add-cart-area img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 0 0 10px;
}
.quantity-btn {
  display: inline-flex;
}
.quantity-btn button {
  background: #171d96;
  border: none;
  border-radius: 5px;
  margin: 0 10px;
  font-size: 20px;
  padding: 4px 10px;
}
.quantity-btn button i {
  color: #fff;

}
.quantity-btn input {
  text-align: center;
  width: 50px;
}
.delete-icon i {
  font-size: 20px;
  color: #171d96;
}
.add-btns {
  text-align: center;
  padding: 20px 0;
}
.add-btns button {
  margin: 0 3px;
  background: #171d96;
  padding: 10px;
}
