.custom-tab-image{
    height: 100px;
    width: 130px;
    border-radius: 10px;
    object-fit: cover;
}
.inner-subCat-bg{
    background: url("../../assets/FeatureImages/SubCategory02.png");
    background-repeat: no-repeat;
    background-position: left;    
}

.view-details-heading{
    display: flex;
    justify-content: space-between;
}
.view-detail-card{
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.187);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.044) 4px 0px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px;
}
.modal-images{
    width: 100%;
    height: 250px;
    object-fit: cover;
  border-radius: 10px;
  }
  .view-detail-content{
    padding: 20px;
  }
.view-detail-price{
    font-size: 16px;
    margin-left: 15px;
}
 

.subcategory-heading{
    text-align: center;
    padding: 130px 90px ;
}
link.active{
    border: none;
}

.subcategory-area .nav-tabs{
    --bs-nav-tabs-border-width: none !important;
    text-align: center;
    display: flex;
    justify-content: center;
}
.all-skin-card{
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 30px;
    margin: 30px 0;
}
.custom-tab-title-text{
    font-size: 17px;
    font-weight: 600;
    color: var( --dark-blue);
    padding-top: 10px;
}
.subcategory-card-img{
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}
.service-detail-heading{
    font-weight: 600;
    font-size: 20px;
  }

.subcategory-details{
    border: 1px solid rgb(25, 25, 104);
    padding: 10px;
    margin-right: 20px;
    border-radius: 10px;
    background-color: transparent;
    font-size: 15px;
}
.service-detail-main{
    width: 100px;
    height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 10px;
  }
  .modal-body-area{
    display: flex;
    align-items: center;
    padding: 20px;
  }
  .modal-body-area p{
    font-weight: 600;
  }
.service-provider-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
   
  }
.subcategory-cart-btn{
    border: none;
    padding: 10px ;
    margin-right: 20px;
    background-color: rgb(22, 22, 104);
    border-radius: 10px;
    color: white;
}
.amount-time, .subcategory-buttons{
    display: flex;
    justify-content: space-around;
}



/* --------------------- Media Query ------------------- */

@media screen and (max-width: 992px){

 .custom-tab-image{
    height: 80px;
    width: 80px;  
    }
    .custom-tab-title-text{
        font-size: 13px;
        font-weight: 500;
    }
}
