.service-provider-page{
    background: rgba(0, 0, 0, 0.387) url("../../assets/ServiceProviderBg.jpg");
  background-blend-mode: darken;
  height: 500px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.service-provider-head{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 30px;
}
.serive-provider-box{
    height: 350px;
    width: 700px;
    background-color: whitesmoke;
    border-radius: 10px;
   padding: 30px;
}
.serive-provider-box h2{
    font-weight: 600;
    padding-bottom: 30px;
}
.serive-provider-box p{
    padding-bottom: 30px;
}
.service-provider-btn{
    background-image: linear-gradient(
        45deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 25%,
        rgba(0, 212, 255, 1) 100%
      );
      color: white;
      border-radius: 10px;
      margin: 10px;
      padding: 10px 25px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      border: none;
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
}




/* ---------------------- Responsive Css ------------------ */

@media screen and (max-width: 768px) {
    .serive-provider-box{
        height: fit-content;
        width: 500px;
    }
    .serive-provider-box h2{
        font-weight: 500;
        padding-bottom: 20px;
    }
}

@media screen and (max-width: 540px) {
    .serive-provider-box{
        height: fit-content;
        width: 400px;
    }
    .service-provider-head{
        font-size: 30px;
    }
}