.home-bg {
  background: url(../../assets/image/bgimagenew_.png);
  position: relative;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}
/* .home-bg:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000;
  opacity: 0.5;
} */
.locationicon {
  width: 20px;
  height: 20px;
  font-size: 24px;
}
.search-icon {
  font-size: 18px;
  background: #415eb3;
  color: #fff;
  padding: 8px;
  border-radius: 50%;
  margin: 0 0 0 10px;
}
.home-content {
  height: 100%;
  text-align: center;
  padding: 120px 0;
}
.home-content h1 {
  color: #ffff;
}

.home-content h3 {
  color: #ffff;
}
.home-content .form-select {
  background: #ff6635;
  border: none;
  height: 50px;
  color: #fff;
  font-weight: 600;
  font-size: 20px;
}
/*  */
.location-form {
  width: 100%;
}
.location-form form input {
  background-color: #fff;
  border: 1px solid #eee;
  box-sizing: border-box;
  box-shadow: 0 0 15px rgba(84, 161, 93, 0.1);
  border-radius: 10px;
  height: 60px;
  width: 100%;
  font-size: 13px;
  color: #a29d9d;
  padding: 0 20px;
}
.location-form .input-group-text {
  background: #ff6635;
  color: #fff;
  border-radius: 10px;
}
h1.typewriter {
  font-family: Teko, sans-serif;
  font-weight: 600;
  font-size: 90px;
  color: #fff;
  margin-bottom: 10px;
}
/*  */
.getapp_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.getapp_content h1 {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: 1px;
}
.getapp_content p {
  padding: 20px 101px 0 0;
}
.getapp_contentbtn {
  height: 50px;
  width: 210px;
  background: #0b19df;
  color: #fff;
  font-size: 12px;
  margin: 50px 0 0;
  text-transform: capitalize;
  border: none;
}
.beautySalon {
  width: 100%;
}
.massageSpa {
  width: 100%;
}

/* new css */

.home-list h6 {
  margin: 0 0 20px;
  color: #fff;
}
.home-list a {
  background: #fff;
  color: #ff6635;
  border-radius: 50px;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}
