/* body{
  margin: 0;
  padding: 0;
}
a, ol, ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog-sidebar-area{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 10px;
  width: 100%;

}

.blog-box{
 margin-top: 20px;
}
.date-comment{
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
}
.date-text, .comment-text{
     display: flex;
     text-decoration: none;
     color: gray;
     margin-right: 50px;
}
.view-post-and-social{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
.social-icons li{
  display: inline-block;
  margin: 0 6px;
}
.blog-img{
  width: 100%;
}
.blog-search-btn{
  border: none;
  background-color: transparent;
}
.blog-search-bar{
  background-color: rgba(220, 220, 220, 0.42);
  font-size: 15px;
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-top: 20px;
}
.blog-post-one{
  display: flex;
 margin-bottom: 20px;
}

/* ------ recent post heading ------- */
.recent-heading {
  margin-bottom: 20px;
  font-weight: 700;
}
.recent-post-box {
  margin-top: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.189) 0px 3px 7px -3px;
  padding: 20px 15px;
}
.recentPost1 {
  border-radius: 50%;
  height: 60px;
  width: 70px;
  margin-right: 10px;
}
.recent-post-date {
  font-size: 13px;
  color: gray;
  line-height: 6px;
}

/* ------- category -------- */

.category {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.159) 0px 3px 7px -3px;
  margin-top: 20px;
  padding: 20px;
}
.category-head {
  margin-bottom: 20px;
}
.category-list li {
  margin-bottom: 20px;
  color: rgb(81, 80, 80);
  font-weight: 600;
}
/* ------- post tag css --------- */

.post-tag {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.159) 0px 3px 7px -3px;
  margin: 20px 0;
  padding: 20px;
}
.tag-lists {
  display: block;
}
.tag-lists li {
  display: inline-block;
}
.tag-lists li a {
  text-decoration: none;
  color: gray;
  border: 1px solid gainsboro;
  padding: 10px;
  margin: 5px;
  box-sizing: border-box;
  text-align: center;
  display: inline-block;
}
.tag-lists li a:hover {
  transition: all 0.5s ease-in-out 0s;
  color: #5bb543;
  border: 1px solid #5bb543;
}

/* -------------- responsive css -------------- */

@media screen and (max-width: 992px) {
  .blog-row {
    width: 100%;
    flex-shrink: 0;
  }
  .blog-sidebar-area blog-sidebar-details {
    width: 100%;
  }
}
*/ .blog-item {
  margin: 0 0 50px;
}
.blog-item img {
  width: 100%;
  height: auto;
  margin: 0 0 22px;
}
.blog-item h2 {
  color: var(--heading-color);
}
.blog-item a {
  color: var(--theme-color);
  font-weight: 600;
}
.blog-item span {
  color: var(--heading-color);
  font-weight: 600;
  font-size: 20px;
}
.blog-side {
  background: #fff;
  border-radius: 3px;
  padding: 30px;
}
.blog-side form input:focus {
  border: 1px solid #dee2e6;
}
.blog-sidebar-box {
  margin: 0 0 30px;
}
.sidebar-blog-item img {
  width: 50px;
  height: auto;
  margin: 0 12px 0 0;
}
.blog-sidebar-box ul {
  padding: 0;
}
.sidebar-blog-item h6 {
  color: var(--black-color);
}
.blog-sidebar-box h5 {
  color: var(--heading-color);
  margin: 0 0 25px;
}
.blog-sidebar-Categories ul li {
  list-style-type: disc;
  color: var(--gray-color);
  margin: 10px 22px;
}
.blog-sidebar-tags li {
  display: inline-flex;
}
.blog-sidebar-box li a {
  background-color: #eee;
  font-size: 12px;
  color: var(--body-font-color);
  font-weight: 500;
  margin: 6px 6px 0 0;
  padding: 8px;
}
