.blog-heading h1,
h2 {
  text-align: center;
  font-size: 250%;
  font-family: bold;
  margin-bottom: 36px;
}
.section-padding card-sec {
  margin-bottom: 36px;
}
.blog-cards {
  background: #f3f3f3;
  border: 2px solid lightgrey;
  transition: all 0.55s ease-in-out;
  position: relative;
}
.blog-cards img {
  width: 100%;
  height: auto;
}
.blog-content {
  padding: 20px;
}
.blog-date {
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.5);
  padding: 15px;
}

.blog-date h4 {
  color: #fff;
  font-weight: 600;
  font-size: 30px;
}
.store {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 36px;
}
.store img {
  width: 140px;
  height: auto;
  margin: 0 5px;
}
.blog-description h5 {
  color: gray;
  margin-bottom: 5;
  text-align: center;
}
.blog-cards:hover {
  box-shadow: 0 8px 17px #0003, 0 6px 20px #00000030;
}
/*  */
.single-blog.layout-3:hover .blog-inner h4 a {
  color: #ff6635;
}
.single-blog.layout-3:hover .blog-thumb img {
  transform: scale(1.1);
}
.single-blog:hover .blog-thumb img {
  transform: scale(1.1);
}
.single-blog .blog-thumb img {
  width: 100%;
  transition: all 0.5s ease-out 0s;
}
.single-blog .blog-inner h4 a {
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #222;
  transition: all 0.5s ease-out 0s;
}
.single-blog.layout-3 {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(53, 51, 83, 0.1);
  border-radius: 10px;
  padding: 10px;
}
.single-blog.layout-3 .blog-thumb {
  position: relative;
}
.single-blog .blog-thumb {
  overflow: hidden;
}
.single-blog.layout-3 .blog-thumb .date span {
  background-color: #ff6635;
  border-radius: 30px;
  padding: 8px 15px;
  font-family: Rubik, sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-align: center;
  color: #fff;
}
.single-blog .blog-inner {
  padding: 20px;
}
.single-blog .blog-inner h4 {
  margin-bottom: 15px;
}
.single-blog.layout-3 .blog-inner p {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  color: #6c6c6c;
  margin-bottom: 20px;
}

.single-blog.layout-3 .blog-inner > a {
  color: #ff6635;
}
.blog.layout-3 .blog-inner > a span {
  border: 1px solid #ff6635;
}
.single-blog.layout-3 .blog-thumb .date {
  position: absolute;
  left: 50%;
  top: 15px;
  transform: translateX(-50%);
}
