.footer-bg {
  background-image: linear-gradient(
    45deg,
    rgba(9, 9, 121, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  position: relative;
}

.footer-bg:before {
  position: absolute;
  content: "";
  left: -10%;
  top: 0;
  height: 100%;
  width: 40%;

  background-image: linear-gradient(
    45deg,
    rgba(9, 9, 121, 1) 30%,
    rgba(0, 212, 255, 1) 100%
  );

  transform: skewX(10deg);
}
.footer-lbl h4 {
  margin-top: 36px;
  padding-bottom: 10px;
  color: rgb(252, 249, 249);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}
.footer-lbl img {
  width: 180px;
  height: 50px;
  margin: 10px 0;
  position: relative;
}
.footer-lbl ul {
  padding: 0;
}
.footer-lbl ul li {
  list-style-type: none;
  color: #fff;
  margin: 10px 0;
  font-weight: 500;
}
.footer-lbl ul li:hover {
  cursor: pointer;
  color: #9bacdd;
  transition: all 0.5s ease-out;
}
.footer-lbl ul li i {
  color: #9bacdd;
}
.contactIcon {
  color: white;
}
.footer-end {
  position: relative;
}
.copyright {
  color: white;
  display: block;
}
.copyright-link {
  display: inline-block;
  color: #142935;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}
.footer-logo {
  text-align: right;
}
.footer-logo i {
  color: white;
  display: inline-block;
  margin-left: 30px;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 5px;
  background-color: transparent;
  border-radius: 10px;
  transition: all 0.5s ease-out 0s;
}
.footer-logo i:hover {
  transition: all 0.5s ease-out 0s;
  background-color: #9bacdd;
  cursor: pointer;
  font-size: 20px;
}

/* --------- Responsive css ------------ */
@media only screen and (max-width: 992px) {
  .footer-bg:before {
    display: none;
  }
  .footer-lbl img {
    width: 100px;
    height: 30px;
  }
  .copyright {
    color: white;
    display: block;
    text-align: center;
  }
  .copyright-link {
    display: inline-block;
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }
}
