.footer-bg {
  position: relative;
  background: url("../../assets/FeatureImages/SubCategory02.png");
  height: 420px;
    width: 100%;
    background-repeat: no-repeat;
    box-shadow: rgba(0, 0, 0, 0.505) 0px 3px 8px;
}

.goodvibes-footer-info{
  padding: 20px;
}
.goodvibes-footer-info p{
  font-weight: 600;
}

.good-vibes-logo{
  height: 50px;
  width: 100%;

}


.footer-lbl h4 {
  margin-top: 36px;
  padding-bottom: 10px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
}
.footer-lbl img {
  width: 130px;
  height: 40px;
  margin: 10px 0;
  position: relative;
}
.footer-lbl ul {
  padding: 0;

}
.footer-lbl ul li {
  list-style-type: none;
  color: #424040;
  margin: 10px 0;
  font-weight: 500;
}
.footer-lbl ul li:hover {
  cursor: pointer;
  color: #122a72;
  transition: all 0.5s ease-out;
  font-weight: 600;
}
.footer-lbl ul li i {
  color: #1f3780;
}
.contactIcon {
  color: rgb(10, 10, 10);
}
.footer-end {
  position: relative;
}
.copyright {
  color: rgb(59, 56, 56);
  display: block;
  font-weight: 500;
}
.copyright-link {
  display: inline-block;
  color: #142935;
  font-weight: 600;
  text-decoration: none;
  margin-left: 5px;
}

.footer-logo i {
  color: rgb(32, 30, 30);
  display: inline-block;
  margin : 0 20px 0 20px;
  height: 35px;
  width: 35px;
  text-align: center;
  padding-top: 5px;
  background-color: transparent;
  border-radius: 10px;
  transition: all 0.5s ease-out 0s;
}
.footer-logo i:hover {
  color: rgb(255, 251, 251);
  transition: all 0.5s ease-out 0s;
  background-color: #1f3780;
  cursor: pointer;
  font-size: 20px;
}
.footer-end-area{
  text-align: center;
}


/* --------- Responsive css ------------ */
@media only screen and (max-width: 992px) {
  .footer-bg:before {
    display: none;
  }
  .footer-lbl img {
    width: 100px;
    height: 30px;
  }
  .copyright {
    color: rgb(51, 72, 119);
    display: block;
    text-align: center;
  }
  .copyright-link {
    display: inline-block;
    text-align: center;
  }
  .footer-logo {
    text-align: center;
  }
}
