.service-detail-heading{
  font-weight: 600;
  font-size: 50px;
}
.service-detail-btn{
  background-color: rgba(29, 81, 170, 0.968);
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}
.service-detail-main{
  width: 100%;
border-radius: 10px;
}
.book-service-btn{
  width: 100%;
  background-color:rgba(13, 45, 101, 0.968);
}