.slot-weekday {
  border: 1px solid #fff;
  padding: 20px 30px;
  box-shadow: 2px 4px 10px 0px #c7cacce3;
  border-radius: 30px;
}

.app-label {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

.btndiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.btndiv a{
    text-decoration: none;
}


.slot-images{
  width: 200px;
  padding-right: 20px;
}
.slot-card-box{
  width: fit-content;
  border: 1px solid rgba(128, 128, 128, 0.187);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.044) 4px 0px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px;
}
.slot-card-box ul li{
  font-weight: 600;
}
.slot-price-box{
  font-size: 16px;
  margin-left: 15px;
}
.slot-discount{
  color: green;
  margin-left: 15px;
  font-weight: 700;
}
.old-price{
  text-decoration: line-through;
  color: gray;
  margin-left: 15px;
}
.slot-form{
  text-align: center;
}
.slot-form input{
  width: 500px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid gainsboro;
  padding: 5px;
}
.slot-form  textarea{
  width: 500px;
  margin-bottom: 30px;
  padding: 5px;
}
.appointment-head{
  font-weight: 600;
  color: var( --dark-blue);
  padding-bottom: 30px;
}
.slot-btn{
  background: var( --button-color);
  width: 100%;
  color: white;
  border: none;
  padding:10px 20px;
  border-radius: 10px;
}
.appointment-form-area , .appointment-detail-box{
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.165) 0px 3px 6px;
  padding: 20px;
}

.appointment-detail-box{
  
  margin-bottom: 20px;
}
.appointment-detail-box h5{
  text-align: center;
}
.appointment-detail-box p{
  margin-bottom: 5px;
  font-weight: 500;
}
.service-schedule{
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid var( --light-blue);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  
}
.vertical-line{
  border-left: 2px solid var( --light-blue);
  height: 60px;
  margin: 0 10px;
}

.notes-icon{
  font-size: 20px;
  color: var( --dark-blue);
}
.service-schedule-02{
  padding: 10px;
  background-color: whitesmoke;
  border: 1px solid var( --light-blue);
}
.slot-coupon p{
  color: rgb(35, 127, 198);
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.044) 4px 0px 6px, rgba(0, 0, 0, 0.06) 0px 3px 6px;
  padding: 15px;
}
.cart-summary{
  padding: 20px 0;
}
.cart-price{
  display: flex;
  justify-content: space-between;
}
.grand-total{
  font-weight: 600;
  font-size: 20px;
}
.agree-checkbox{
  font-weight: 600;
 text-align: center;
  padding: 15px;
}
