.dashboard-main {
  background: rgba(39, 54, 150, 0.153) url("../../assets/MainImg01.jpg");
  background-blend-mode: darken;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 90px;
  padding: 70px;
  text-align: center;
}
.landing-page-location{
  /* background-color: rgb(243, 235, 235); */
  text-align: center;
  padding: 60px 0 ;
  /* border-radius: 30px; */
}
.landing-page-location h1{
  color: white;
  font-weight: 700;
   font-size: 50px;
}
.landing-page-location p{
  font-weight: 500;
  color: rgb(250, 250, 250);
  font-size: 20px;
}

.fast-response {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fast-response-text {
  margin: 70px 0 30px 0;
  color: white;
  padding:  10px;
  background-color: rgba(245, 245, 245, 0.364);
  font-weight: 600;
  font-size: 20px;
}


.dashboard-text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;

}
.welcome-input {
  background-color: #1c2889;
}
.find-salon-btn {
  padding: 15px 25px;
  color: white;
  background: var(--button-color);
  border: none;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: 600;
  
}

.search-container{
  position: relative;
  display: flex;
 margin-right: 20px;
}
.search-area p{
  margin-right: 20px;
  font-weight: 600;
  color: white;
  font-size: 24px;
  padding: 5px;
 
}
.search-input {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 5px 30px;
  font-size: medium;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.search-btn {
  background-color: var(--dark-blue);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 5px 10px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
}
.pick-from-map{
  background-color: var(--dark-blue) !important;
  color: white;
  border: none !important;
  padding:5px  10px;
  border-radius: 30px !important;
  font-weight: 600 !important;
}
.map-image-box{
  text-align: center;
}
.google-map-img{
  width: 300px;
  
}
.current-location{
  width: 100%;
  border: none;
  background-color: var(--dark-blue);
  color: white;
  padding: 6px;
  border-radius: 10px;
  margin: 20px 0;
  font-weight: 600;
}
.set-from-map{
  width: 100%;
  border: 1px solid var(--dark-blue);
  padding: 6px;
  background-color: transparent;
  color: var(--dark-blue);
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: 600;
}
.beauty-salon-img {
  height: 400px;
  width: 400px;
  background-position: center;
 border-radius: 50%;
 box-shadow: rgba(50, 50, 93, 0.39) 0px 6px 12px -2px,
 rgba(0, 0, 0, 0.387) 0px 3px 7px -3px; 
 animation: moveUpDown 3s ease-in-out infinite alternate;
}
@keyframes moveUpDown{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-30px);
  }
}
.salon-circle{
  text-align: center;
}

.getapp_content{
  line-height: 2.0;
  text-align: center;
}
.getapp_content h2{
  font-size: 40px;
  font-weight: 700;
}
.autocomplete-dropdown-container {
  position: absolute;
  left: 35%;
  z-index: 9999;
  padding: 10px; /* Add padding as needed */
  border-radius: 20px; /* Add border radius as needed */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: white;
}

.suggestion-item {
color: rgba(252, 246, 246, 0.972);
  cursor: pointer;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
}

.suggestion-item--active {

 color: white;
  cursor: pointer;
  border-radius: 20px;
}



/* ------------------------- Responsive Css ------------------------ */

@media screen and (max-width: 992px) {
  .dashboard-text-area {
    text-align: center;
  }
  .main-heading {
    font-size: 40px;
  }
  .search-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .search-input {
    width: 100%;
  }
  .beauty-salon-img{
  margin-top: 30px;
    height: 300px;
    width: 300px;
  }
  .getapp_content h2{
    font-size: 30px;
    font-weight: 600;
  }

  .dashboard-main {
    height: fit-content;
    width: 100%;
  }
}


/* ------------------------------ Screen 768px --------------------------------- */

@media screen and (max-width: 768px) {
  .dashboard-text-area {
    text-align: center;
  }
  .fast-response-text {
    margin: 50px 0 30px 0;
    padding:  10px;
  }
  .landing-page-location h2{
    font-size: large;
  }
  .main-heading {
    font-size: 30px;
  }
  .search-area {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .landing-page-location{
    padding: 40px 0 ;

  }

  .search-input {
    width: 100%;
  }

  .dashboard-main {
    height: fit-content;
    width: 100%;
  }
  .suggestion-area {
    display: flex;
    flex-direction: column;
  }
  .suggest-head {
    order: 1;
    margin-bottom: 10px;
  }

  .suggestion-btn {
    order: 2;
    margin-top: 10px;
    display: block;
  }
  
 
}

@media screen and (max-width: 540px) {

.search-input {
  width: 100%;}
}